
/*CART.HTML*/
/*CONTENT*/
.shopping__cart {
    margin-top: 96px;
    &__flex {
        display: flex;
        justify-content: space-between;
    }
    &__items {
        max-width: 652px;
        width: 100%;
        &__card {
            display: flex;
            justify-content: space-between;
            box-shadow: 13px 10px 8px 4px rgba(0, 0, 0, 0.2);
            
            .cart_img {
                width: 100%;
                max-width: 262px;
            }
            
            &__descr {
                width: 100%;
                margin-left: 31px;
                margin-right: 22px;
                margin-top: 22px;
                &__flex {
                    display: flex;
                    justify-content: space-between;
                    h1 {
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 29px;
                        color: #222222;
                    }
                }
            }
        }
    
    &__button {
        margin-top: 72px;
        padding: 16px 40px;
        border: 1px solid #A4A4A4;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 300;
        &:hover {
            background: #F16D7F;
            color: white;
        }
        &__flex {
            display: flex;
            justify-content: space-between;
        }
    }

    }

    &__input {
        
        h1 {
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #222222;
            text-transform: uppercase;
        }
        &__form {
            display: flex;
            flex-direction: column;

            .cart__input__form {
                height: 45px;
                max-width: 360px;
                width: 100%;
                padding-left: 16px;
                margin-top: 21px;
                font-weight: 300;
                font-size: 13px;
                line-height: 16px;
                color: #B1B1B1;
                border: 1px solid #A4A4A4;
            }
            .cart__input__form:first-child::placeholder{
                color: #B1B1B1;
            }
            
            .cart__quote__button {
                cursor: pointer;
                height: 34px;
                max-width: 100px;
                width: 100%;
                text-transform: uppercase;
                font-weight: 300;
                font-size: 11px;
                line-height: 13px;
                color: #4A4A4A;
                border: 1px solid #A4A4A4;
                margin-top: 24px;
                background: transparent;
            }
        }
        &__proceed {
            margin-top: 57px;
            background: #F5F3F3;
            display: flex;
            flex-direction: column;
            padding: 39px 34px;
            .shopping__cart__checkout__subtotal, .shopping__cart__checkout__grandtotal {
                display: flex;
                justify-content: flex-end;
            }
            .shopping__cart__checkout__grandtotal {
                margin-top: 12px;
                padding-bottom: 21px;
                border-bottom: 1px solid green;
                h1 {
                    margin-right: 0px;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 19px;
                    text-transform: uppercase;
                    color: #222222;
                }
                span {
                    font-weight: 700;
                    color: #F16D7F;
                    margin-left: 30px;
                }
            }
            .shopping__cart__checkout__subtotal {
            
                h3 {
                    margin-right: 0px;
                    font-weight: 400;
                    font-size: 11px;
                    line-height: 13px;
                    color: #4A4A4A;
                    text-transform: uppercase;
                }
                span {
                    color: #4A4A4A;
                    margin-left: 30px;
                }   
            }
            &__button {
                margin-top: 16px;
                display: block;
                padding: 16px 43px;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                color: #FFFFFF;
                background: #F16D7F;
                border: 0px;
                align-items: center;
                &:hover {
                    transform: scale(1.1);
                    transition: all 1.5s;
                }  
            }
        } 
    } 
}

.item__parametrs {
    margin-top: 40px;
    &__price, &__color, &__size, &__quantity {
        display: flex;

        h1 {
            display: block;
            font-weight: 400;
            font-size: 22px;
            line-height: 26px;
            color: #575757;
        }
        span {
            color: #F16D7F;
        }
    }
}
.cart__card2 {
    margin-top: 40px;
}
.quantity__input {
    max-width: 43px;
    text-align: center;
    margin-left: 24px;
}
details > summary {
    list-style: none;
}
details > summary::-webkit-details-marker {
    display: none;
}
/*CONTENT*/
/*CART.HTML*/

@media (max-width:1024px) {
    .container {
        max-width: 992px;
    }
    .shopping__cart {
        margin-top: 59px;
}
    .shopping__cart__flex {
        flex-direction: column;
        align-items: center;
}
    .shopping__cart__items {
        max-width: 736px;
}
    .shopping__cart__items__button__flex {
        justify-content: space-evenly;
}
    .shopping__cart__items__button {
        margin-top: 62px;
}
    .shopping__cart__input {
        margin-top: 64px;
        max-width: 736px;
        width: 100%;
}
    .shopping__cart__input__flex {
        display: flex;
        justify-content: space-between;
}
    .shopping__cart__input__adress {
        max-width: 360px;
        width: 100%;
}
    .shopping__cart__input__proceed {
        margin-top: 39px;
}
}
@media (max-width:768px) {
    .container {
        max-width: 736px;
    }
    .shopping__cart {
        margin-top: 49px;
}
    .shopping__cart__flex {
        flex-direction: column;
        align-items: center;
}
    .shopping__cart__items {
        max-width: 736px;

}
    .shopping__cart__items__button__flex {
        justify-content: space-evenly;
    }
    .shopping__cart__items__button {
        margin-top: 62px;
    }
    .shopping__cart__input {
            margin-top: 64px;
            max-width: 736px;
            width: 100%;
}
    .shopping__cart__input__flex {
        display: flex;
        justify-content: space-between;
}
    .shopping__cart__input__adress {
        max-width: 360px;
        width: 100%;
    }
    .shopping__cart__input__proceed {
        margin-top: 39px;
    }
}
@media (max-width:667px) {
    .container {
        max-width: 649px;
    }
    .shopping__cart {
        margin-top: 49px;

}
    .shopping__cart__flex {
        flex-direction: column;
        align-items: center;
}
    .shopping__cart__items {
        max-width: 360px;

}   
    .cart__card2 {
        margin-top: 32px;
}   
    .shopping__cart__items__button__flex {
        justify-content: space-between;
}

    .shopping__cart__items__button {
        font-size: 12px;
        text-transform: none;
        padding: 9px 35px;
        margin-top: 30px;
    }
    .shopping__cart__items__card .cart_img {
        max-width: 143px;
    }
    .shopping__cart__items__card__descr {
        margin-left: 17px;
        margin-right: 17px;
        margin-top: 13px;
    }
    .item__parametrs__price, .item__parametrs__color, .item__parametrs__size, .item__parametrs__quantity {
        align-items: center;
    }
    .item__parametrs {
        margin-top: 26px;
    }
    .shopping__cart__items__card__descr__flex h1, .item__parametrs__price h1, .item__parametrs__color h1, .item__parametrs__size h1, .item__parametrs__quantity h1 {
        font-size: 14px;
    }
    .quantity__input {
        max-width: 23px;
        max-height: 15px;
    }
    .shopping__cart__input {
            margin-top: 48px;
}
    .shopping__cart__input__flex {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
}
    .shopping__cart__input__proceed {
        margin-top: 48px;
    }
    .shopping__cart__items__card__descr {
        margin-bottom: 13px;
    }
    .item__parametrs {
        margin-top: 20px;
    }
    .item__parametrs__color, .item__parametrs__price, .item__parametrs__quantity, .item__parametrs__size {
        margin-top: -5px;
    }
    
}

