/*FOOTER*/

.footer {
    background: #222224;
    padding: 30px 0px;
    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__text {
        h1 {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #FBFBFB;
        }
    }
    &__icons {
        
    }
    .foot_icon {
        background: white;
        &:hover {
            background: #F16D7F;
            .icon_color {
                fill: white;
            }
        }
    }
}
/*FOOTER*/

@media (max-width:1024px) {
    .container {
        max-width: 992px;
    }

}
@media (max-width:768px) {
    .container {
        max-width: 736px;
    }

}
@media (max-width:667px) {
    .container {
        max-width: 649px;
    }
    .footer {
        padding: 43px 0px 24px 0px;
    }
    .footer__flex {
        flex-direction: column-reverse;
    }
    .footer__text {
        margin-top: 25px;
    }

}

