/*PRODUCT.HTML*/
/*HEAD*/
.header_product_module {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F7F7F7;
    z-index: 1;
    padding-bottom: 53px;
}

.left_select, .right_select {
    display: block;
    background: rgba(42, 42, 42, 0.15);
    padding: 12.6px 17.3px 8.9px 17.3px;
    border: 0px;
    cursor: pointer;
}

.left_select:hover .page_fill {
    fill: #EF5B70;;
}
.right_select:hover .page_fill {
    fill: #EF5B70;;
}
.product_img {
    max-width: 597px;
    width: 100%;
    height: auto;
}
/*HEAD*/

.main_product_module {
    margin-top: -50px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;  
}
/*MID*/
.main_product_descr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #EAEAEA;
    background: white;
    padding-bottom: 65px;
    max-width: 1141px;
    width: 100%;
    
}
.container_product_descr {
    text-align: center;
    max-width: 641px;
    margin: auto;
}

.main_product_descr_title {
    display: block;
    margin-top: 64px;
    padding-bottom: 12px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    text-transform: uppercase;
}
.string_red {
    display: block;
    max-width: 63px;
    height: 3px;
    background: #EF5B70;
    border: 0px;
    margin:auto;
}

.main_product_descr_name {
    display: block;
    margin-top: 12px;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    text-transform: uppercase;
}

.main_product_descr_paragraph {
    margin-top: 48px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;
}
.main_product_descr_price {
    margin-top: 32px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
    padding-bottom: 65px;
}
.string_grey {
    display: block;
    max-width: 641px;
    height: 1px;
    background: #EAEAEA;
    border: 0px;
    margin:auto;
}
.main_product_descr_price:before {
    content: "$";
}

.product_items_filter {
    display: flex;
    justify-content: center;
    margin-top: 65px;
}
.filter_category_tsp_module {
    display: flex;
    max-width: 450px;
    width: 100%;
    justify-content: space-between;
}
.filter_category_tsp {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    text-transform: uppercase;  
}
.filter_category_tsp_sum {
    display: block;
}
.filter_category_tsp_img {
    margin-left: 11px;
    fill: black;
}
.filter_category_tsp[open] .filter_category_tsp_sum {
    color: #F16D7F;
}
.filter_category_tsp[open] .filter_category_tsp_img {
    fill: #F16D7F;
}
.filter_category_tsp[open] .filter_category_size_list{
    animation: sweep .5s ease-in-out;
  }
@keyframes sweep {
    0%    {opacity: 0; transform: translateY(-10px)}
    100%  {opacity: 1; transform: translateY(0)}
  }

.main_product_button_flex {
    display: flex;
    justify-content: center;
}
.main_product_button {
        margin-top: 48px;
        display: flex;
        justify-content: space-around;
        width: 211px;
        height: 47.4px;
        align-items: center;
        text-decoration: none;
        border: 1px solid #FF6A6A;
        background: white;
}
.main_product_button_text {
    margin-right: 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #F26376;
}
.main_product_button_basket_color {
    fill: #F26376;;
}

.main_product_button:hover {
    background-color: #F16D7F;
}
.main_product_button:hover .main_product_button_text {
    color: white;
}
.main_product_button:hover .main_product_button_basket_color {
    fill: white;
}
/*MID*/
/*BOT*/

.product_items_module {
    margin-top: 128px;
}
.featured_items_text {
    text-align: center;
}
.featured_items_heading {
    font-size: 30px;
    line-height: 36px; 
    color: #222222;
}
.featured_items_paragraph {
    margin-top: 6px;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}
.featured_items {
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;  
}
.featured_items_card {  
    max-width: 360px;
    height: 100%;
    background: #F8F8F8;
}
.featured_items_card_heading {
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin-top: 25px;
    padding-left: 18px;
}
.featured_items_card_paragraph {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    margin-top: 12px;
    padding-bottom: 18px;
    padding-left: 18px;
    color: #5D5D5D;
    opacity: 0.7;
}

.featured_items_card_price:before {
    content: '$';
    margin-bottom: 15px;
}
.card_price {
    padding-left: 18px;
    margin-bottom: 16px;
}
.featured_items_card_price {
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F; 
}
.featured_items_link {
    text-decoration: none;
}
.shadow_card {
    background: #000000;
    max-height: 420px;
    position: relative;
}
.featured_items_img {}

.featured_items_card:hover .featured_items_img {
    opacity: 0.5;
    transition: 1s;  
}
.featured_items_img_button {
    display: flex;
    align-items: center;
    position: absolute;
    top: 188.5px;
    left: 111.5px;
    border: 1px solid #FFFFFF;
    text-decoration: none;
    padding: 10px 13px 8px 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #FFFFFF;
    background: transparent;
    opacity: 0; 
}
.featured_items_card:hover .featured_items_img_button{
    transition: 1s;
    opacity: 1;
}
.featured_items_img_button:hover {
    transform: scale(1.5);
}
.catalog_button {
    padding: 14.5px 38.5px 13.5px 38.5px;
    border: 1px solid #FF6A6A;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    margin-top: 48.5px;
}
.buttun_flex_center {
    display: flex;
    justify-content: center;
}
.catalog_button:hover {
    background: #FF6A6A;
    color: #FFFFFF;
    transition: 0.5s;
}
.img_button_basket {
    padding-right: 11px;
}
.catalog_items_module{
    margin-top: 51px;
}
/*BOT*/
.filter_category_tsp > .filter_category_tsp_sum {
    list-style: none;
}
.filter_category_tsp > .filter_category_tsp_sum::-webkit-details-marker {
    display: none;
}

@media (max-width:1024px) {
    .container {
        max-width: 992px;
    }
    .main_product_module {
        margin-top: 0px;
    }
    .main_product_descr {
        max-width: 768px;
    }
    .featured_items_card:nth-child(3) {
        display: none;
    }
}
@media (max-width:768px) {
    .container {
        max-width: 736px;
    }
    .featured_items {
        margin-top: 0px;
    }
    .featured_items {
        gap: 16px;
    }

}
@media (max-width:667px) {
    .container {
        max-width: 649px;
    }
    .product_img {
        width: 100%;
        max-width: 280px;
    }
    .main_product_descr {
        padding-left: 24px;
        padding-right: 24px;
    }
    .main_product_descr_paragraph {
        line-height: 143.1%;
        opacity: 0.7;
        margin-top: 31px;
    }
    .string_grey {
        max-width: 175px;
    }
    .filter_category_tsp_sum {
        font-size: 10px;
    }
    .filter_category_tsp_img {
        margin-left: 9px;
    }
    .product_items_module {
        margin-top: 64px;
    }
    .featured_items {
        gap: 0px;
        justify-content: center;
    }
    .featured_items_card:nth-child(2) {
        display: none;
    }
    .featured_items_card:nth-child(3) {
        display: block;
    }
    .filter_category_tsp_module {
        max-width: 360px;
        width: 100%;
    }
}
/*PRODUCT.HTML*/