@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/*HEADER*/
/*HEADER CART.HTML*/
.header {
  /*ff*/
}

.header__background {
  background-color: black;
}

.header__menu {
  padding-top: 17.5px;
  padding-bottom: 17.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__left a {
  display: inline-block;
  margin-right: 41px;
}

.header__left a:last-child {
  margin-right: 0px;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__right a {
  display: inline-block;
}

.header__right a:nth-child(2) {
  margin-right: 41px;
}

.header__right a:nth-child(1) {
  margin-right: 33px;
}

.header__content {
  background: #F8F3F4;
}

.header__content__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 148px;
}

.header__title h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-decoration: none;
  text-transform: uppercase;
}

.header__category__link {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-transform: uppercase;
  text-decoration: none;
}

.header__category__link:nth-child(3) {
  color: #F16D7F;
  font-weight: 700;
}

.header__category__link:hover {
  color: #F16D7F;
  font-weight: 700;
}

.header .menu__icon1__anim:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header .menu__icon2__anim:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header .burger {
  position: relative;
}

.header .burger summary {
  display: block;
  margin-right: 33px;
}

.header .burger__summary {
  position: relative;
  cursor: pointer;
}

.header .burger__menu {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 45px;
  left: 200px;
  height: calc(100vh - 165px);
  max-height: 764px;
  min-width: 232px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 19px 11px 0px rgba(0, 0, 0, 0.24);
          box-shadow: 0px 19px 11px 0px rgba(0, 0, 0, 0.24);
  opacity: 1;
  z-index: 3;
}

.header .burger__title {
  display: block;
  margin-top: 37px;
  padding-left: 34px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.header .burger__category {
  display: block;
  margin-top: 20px;
  padding-left: 34px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #F16D7F;
}

.header .burger__category:last-child {
  margin-top: 24px;
}

.header .burger__list {
  display: block;
  margin-top: 12px;
  padding-left: 54.5px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #6F6E6E;
}

.header .exit_img {
  opacity: 0;
  z-index: 4;
  position: absolute;
  left: 400px;
  top: 60px;
}

.header__index {
  background-color: #F1E4E6;
  height: calc(100vh - 165px);
  max-height: 764px;
  position: relative;
}

.header__index__block {
  max-width: 405px;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
}

.header__index__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-image: url(../img/Head_image_man.png);
  background-repeat: no-repeat;
  background-position-x: -228px;
  background-size: contain;
  padding-right: 99px;
}

.header__index__flex h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}

.header__index__flex .title_bold {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}

.header__index__flex .title_decor {
  color: #F16D7F;
}

.burger__category:hover, .burger__list:hover, .burger__title:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.burger[open] .burger__menu {
  -webkit-animation: swap 1.5s forwards;
          animation: swap 1.5s forwards;
}

.burger[open] .exit_img {
  -webkit-animation: swap 1.5s forwards;
          animation: swap 1.5s forwards;
}

@-webkit-keyframes swap {
  0% {
    opacity: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(-232px);
            transform: translateX(-232px);
  }
}

@keyframes swap {
  0% {
    opacity: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(-232px);
            transform: translateX(-232px);
  }
}

.hidden__burger {
  display: none;
}

.relative__burger {
  position: relative;
}

.absolute__burger {
  position: absolute;
  left: 0px;
  top: 0px;
}

/*HEADER CART.HTML*/
@media (max-width: 1024px) {
  .container {
    max-width: 992px;
  }
  .header__left {
    margin-left: 16px;
  }
  .header__right {
    margin-right: 16px;
  }
  .header__right a:not(:last-child) {
    margin-right: 33px;
  }
  .header__right a:nth-child(2) {
    margin-right: 42px;
  }
  .header__right a:nth-child(3) {
    margin-right: 0px;
  }
  .header__index {
    height: 368px;
  }
  .header__index__flex {
    background-size: contain;
    background-position-x: -30px;
  }
  .header__index__flex h1 {
    font-size: 24px;
  }
  .header__index__flex .title_bold {
    font-size: 44px;
  }
  .header .burger__menu {
    left: 200px;
    height: 368px;
    overflow: scroll;
    padding-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 736px;
  }
  .header__left {
    margin-left: 16px;
  }
  .header__right {
    margin-right: 16px;
  }
  .header__right a:not(:last-child) {
    margin-right: 33px;
  }
  .header__right a:nth-child(2) {
    margin-right: 42px;
  }
  .header__right a:nth-child(3) {
    margin-right: 0px;
  }
  .header__index__block {
    max-width: 320px;
  }
  .header__index__flex {
    padding-right: 34px;
    background-size: contain;
  }
  .header .burger__menu {
    overflow: scroll;
  }
}

@media (max-width: 667px) {
  .container {
    max-width: 649px;
  }
  .header__left {
    margin-left: 9px;
  }
  .header__right {
    margin-right: 9px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .header__right a:nth-child(2), .header__right a:nth-child(3) {
    display: none;
  }
  .header__left a {
    margin-left: 7px;
  }
  .header__right a:nth-child(1) {
    margin-right: 7px;
  }
  .header__content__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__cat {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header__cat1, .header__cat2 {
    margin-top: 24px;
  }
  .header__index {
    height: 363px;
  }
  .header__index__block {
    max-width: 320px;
  }
  .header__index__flex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 0px;
    background-image: none;
  }
  .absolute__burger {
    display: none;
  }
  .hidden__burger {
    display: inline-block;
  }
}

/*HEADER*/
/*REGISTRATION.HTML*/
/*REGISTRATION.HTML*/
.header_reg_module_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 148px;
}

.header_reg_module {
  background: #F8F3F4;
}

.header_reg_text {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-decoration: none;
  text-transform: uppercase;
}

.subscribe_form_module {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 64px;
}

.subscribe_form {
  max-width: 360px;
}

.subscribe_form1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.checkbox_module {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 31.5px;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.checkbox_module_type {
  display: block;
  height: 17px;
  width: 17px;
  border: 1px solid #A4A4A4;
  margin-right: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.checkbox_module_male {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox_module_female {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
}

.subscribe_form1_text {
  display: block;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.subscribe_form1_text:nth-child(5) {
  margin-top: 21px;
}

.subscribe_form1_p {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-top: 15.5px;
}

.input_form {
  border: 1px solid #A4A4A4;
  height: 44px;
  padding-left: 17px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-top: 21px;
}

.button_submit {
  height: 50px;
  width: 167px;
  background: #F16D7F;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-top: 39px;
  cursor: pointer;
}

.submit_arrow {
  padding-left: 20px;
}

.subscribe_text_reg {
  display: block;
  max-width: 652px;
}

.subscribe_text_tittle {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-transform: uppercase;
  text-align: left;
}

.subscribe_text_paragraph {
  margin-top: 22px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-align: left;
}

.subscribe_text_list {
  list-style: url(../img/registration-v.svg);
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-align: left;
}

.subscribe_text_list_link {
  margin-top: 21px;
  margin-left: 23px;
}

.cart__regist {
  margin-top: 96px;
}

@media (max-width: 1024px) {
  .container {
    max-width: 992px;
  }
  .subscribe_form_module {
    padding-top: 40px;
  }
  .subscribe_text_reg {
    max-width: 500px;
  }
  .subscribe_text_tittle, .subscribe_text_list, .subscribe_text_paragraph {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 736px;
  }
  .subscribe_form_module {
    padding-top: 40px;
  }
  .subscribe_text_reg {
    max-width: 354px;
  }
  .subscribe_text_tittle, .subscribe_text_list, .subscribe_text_paragraph {
    font-size: 16px;
  }
}

@media (max-width: 667px) {
  .container {
    max-width: 649px;
  }
  .subscribe_form_module {
    padding-top: 40px;
  }
  .subscribe_form_module {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .subscribe_form {
    margin-bottom: 40px;
  }
  .subscribe_text_reg {
    max-width: 354px;
  }
  .subscribe_text_tittle, .subscribe_text_list, .subscribe_text_paragraph {
    font-size: 16px;
  }
}

/*REGISTRATION.HTML*/
/*REGISTRATION.HTML*/
/*SUBSCRIBE*/
/*subscribe_GENERAL*/
.subscribe {
  background-image: url(../img/subscribe_back.png);
  background-repeat: round;
  /*тут можно без репита, то тогда при ширине >1598px белая полоса */
  height: 100%;
  width: 100%;
}

.subscribe__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__wishes {
  max-width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 86px;
  padding-bottom: 174px;
}

.subscribe__wishes p {
  margin-top: 20px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.subscribe__form {
  max-width: 557px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 130px;
  padding-bottom: 156px;
}

.subscribe__form h1 {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #222224;
}

.subscribe__form h1 span {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-top: -8px;
}

.subscribe__button {
  margin-top: 32px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe__button .input__email {
  padding: 8px 0px 7px 22px;
  background: #E1E1E1;
  border: 0px;
  border-radius: 15px 0px 0px 15px;
  height: 49px;
  width: 100%;
}

.subscribe__button .input__submit {
  background: #F16D7F;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin-left: -5px;
  padding: 7px 7px 6px 8px;
  border: 0px;
  border-radius: 0px 15px 15px 0px;
  height: 49px;
  width: 100%;
  max-width: 100px;
  cursor: pointer;
}

.cart__buy {
  margin-top: 128px;
}

.cart__cat {
  margin-top: 0px;
}

.cart__prod {
  margin-top: 128px;
}

/*subscribe_GENERAL*/
@media (max-width: 1024px) {
  .container {
    max-width: 992px;
  }
  .subscribe {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -250px;
  }
  .subscribe__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subscribe__wishes {
    padding-top: 54px;
    padding-bottom: 0px;
  }
  .subscribe__form {
    padding-bottom: 140px;
    padding-top: 68px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 736px;
  }
  .subscribe {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -320px;
  }
  .subscribe__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subscribe__wishes {
    padding-top: 54px;
    padding-bottom: 0px;
  }
  .subscribe__form {
    padding-bottom: 140px;
    padding-top: 68px;
  }
}

@media (max-width: 667px) {
  .container {
    max-width: 649px;
  }
  .subscribe {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -400px;
  }
  .cart__buy {
    margin-top: 96px;
  }
  .subscribe__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subscribe__wishes {
    padding-top: 54px;
    padding-bottom: 0px;
    margin-left: 16px;
    margin-right: 16px;
  }
  .subscribe__form {
    padding-bottom: 110px;
    padding-top: 58px;
    margin-left: 16px;
    margin-right: 16px;
  }
  .cart__prod {
    margin-top: 64px;
  }
}

/*SUBSCRIBE*/
/*FOOTER*/
/*FOOTER*/
.footer {
  background: #222224;
  padding: 30px 0px;
}

.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text h1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.footer .foot_icon {
  background: white;
}

.footer .foot_icon:hover {
  background: #F16D7F;
}

.footer .foot_icon:hover .icon_color {
  fill: white;
}

/*FOOTER*/
@media (max-width: 1024px) {
  .container {
    max-width: 992px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 736px;
  }
}

@media (max-width: 667px) {
  .container {
    max-width: 649px;
  }
  .footer {
    padding: 43px 0px 24px 0px;
  }
  .footer__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer__text {
    margin-top: 25px;
  }
}

/*FOOTER*/
/*# sourceMappingURL=styleRegistration.css.map */